<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="@ViewBag.RepositoryURL" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="@ViewBag.Avatar" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">@ViewBag.Name</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a asp-host="estuardo.dev" asp-controller="" asp-action="" class="text-sm text-gray-500 dark:text-white hover:underline">Acerca de mi</a>
        </div>
    </div>
</nav>