<!DOCTYPE html>

<html lang="es">
<head>
    <!-- SEO -->
    <meta name="description" content="Soy Estuardo Ramírez un programador y desarrollador web, más enfocado en el ámbito del backend con Python." />
    <meta name="keywords" content="Estuardo Ramírez, estuardodev, Estuardo Ramirez, EstuardoDev, Estuardodev, Estuardo, Estuardo Guatemala, estuardodev sitio web, estuardodev portafolio, Ramírez, Programador en Python, Desarrollador web, estuardodev Programador" />


    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <!--Iconos-->
    <link rel="icon" href="~/Portafolio/img/estuardodev-logo-web.webp" />
    <link rel="apple-touch-icon" href="~/Portafolio/img/estuardodev-logo-web.webp" />

    <!--Flowbite-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <script src="~/Portafolio/js/btn_dark.js"></script>
</head>
<body class="border-gray-200 dark:bg-gray-900">
    <div>
        @RenderBody()
    </div>

    <partial name="_ScriptsPortafolio" />
</body>
</html>
