<!DOCTYPE html>
<html lang="es">
<head>
    <title>Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet"
          type="text/css"
          href="~/Error/css/error404.css" />
</head>
<body>
    <h1>Error 404</h1>
    <p class="zoom-area">
        ¡Navegas por aguas sin explorar! <br /><b>Página</b> no encontrada.
    </p>
    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>
    </section>
    <div class="link-container">
        <a asp-action="Index" asp-controller="Portafolio" class="more-link">REGRESAR AL INICIO</a>
    </div>
</body>
</html>
