@{
    Layout = "_Blog";
}


<partial name="Navbar" />

<div class=""> 
    <div class="container-m"> 

    <partial name="Ultimo" />

    <section id="home">
        <partial name="Posts" />
    </section>

    </div>
</div>

<partial name="CookieBanner" />

<partial name="Footer" />