@{
    Layout = "_Articulo";
}

<partial name="Articulo/NavbarArticulo" />

<div class="p-4 sm:ml-64">

    <partial name="Articulo/RutaNavbar" />

    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <partial name="Articulo/Articulo" />

        <br><hr><br>

        <partial name="Articulo/PreFooter" />

        <br><hr><br>

        <partial name="./CookieBanner" />

        <partial name="Articulo/Footer" />
    </div>

</div>