.a{
    background-color: coral;
}

.b{
    background-color: blueviolet;
}

    
  .limitado { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 5; /* number of lines to show */ 
    -webkit-box-orient: vertical; }

