@{
    var aboutMe = ViewBag.AboutMe as ServidorASP.Models.PortafolioPortafolio;
}

<section class="pt-10 overflow-hidden  md:pt-0 sm:pt-16 2xl:pt-16">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="grid items-center grid-cols-1 md:grid-cols-2">

            <div>
                <h1 class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-5xl text-gray-900 dark:text-white">
                    Hola 👋 soy
                    <br class="block sm:hidden" />Estuardo Ramírez
                </h1>
                <p class="max-w-lg mt-3 text-xl leading-relaxed text-gray-600 dark:text-gray-300 md:mt-8">
                    @(aboutMe == null ? "No encontrado" : Html.Raw(aboutMe.TextoLargo))
                </p>

                <p class="mt-4 text-xl text-gray-600 dark:text-gray-400 md:mt-8">
                    <span class="relative inline-block">
                        <span class="absolute inline-block w-full bottom-0.9 h-2 bg-yellow-300"></span><br />
                        <span class="relative"> ¿Quieres contactarme? </span>
                    </span>
                    <br class="block sm:hidden" />Escríbeme al correo <p title=""
                                                                         class="transition-all duration-200 text-sky-500 hover:text-sky-600 hover:underline">contacto@estuardo.dev</p>
                </p>


                <br /><hr />

                <!-- Others skills -->
                <partial name="OtherSkills" />


            <br />
            <!-- Icons -->
            <partial name="Icons" />

        </div>

        <div class="relative">
            <img class="absolute inset-x-0 bottom-0 -mb-48 -translate-x-1/2 left-1/2" src="https://cdn.rareblocks.xyz/collection/celebration/images/team/1/blob-shape.svg" alt="" />

                <img class="relative w-68 xl:w-64 2xl:w-80 mx-auto 2xl:origin-bottom 2xl:scale-110" src="~/Portafolio/img/estuardodev.webp" alt="" />
        </div>

    </div>
    </div>
</section>