<div class="flex overflow-x-auto p-4 iconos">
    <div class="flex flex-shrink-0 space-x-8 items-center mx-auto iconos">
        <div class="relative inflatable">
            <a href="https://github.com/estuardodev" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/github.webp" alt="Github"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.linkedin.com/in/estuardodev" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/linkedin.webp" alt="Linkedin"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://learn.microsoft.com/es-es/dotnet/csharp/tour-of-csharp/" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/csharp.webp" alt="csharp"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.java.com/es/" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/java.webp" alt="java"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.python.org/" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/piton.webp" alt="python"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://dotnet.microsoft.com/en-us/download" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/net-icon.webp" alt="net"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.djangoproject.com/" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/django-icon.webp" alt="django"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/html-5.webp" alt="html"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/js.webp" alt="js"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/css.webp" alt="css"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.android.com/intl/es_es/" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/androide.webp" alt="android"></a>
        </div>

        <div class="relative inflatable ">
            <a href="https://www.microsoft.com/es-MX/sql-server/sql-server-downloads" target="_blank"><img class="w-10 h-10 rounded-full" width="10px" height="10px" src="~/Portafolio/img/skills/servidor-sql.webp" alt="sql"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://es.wikipedia.org/wiki/SQL" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/sql.webp" width="10px" height="10px" alt="sql"></a>
        </div>
    </div>
</div>
