<div class="flex overflow-x-auto p-4 iconos">
    <div class="flex flex-shrink-0 space-x-8 items-center mx-auto iconos">
        <div class="relative inflatable">
            <a href="https://github.com/estuardodev" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/github.png" alt="Github"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.linkedin.com/in/estuardodev" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/linkedin.png" alt="Linkedin"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://learn.microsoft.com/es-es/dotnet/csharp/tour-of-csharp/" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/csharp.svg" alt="csharp"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.java.com/es/" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/java.png" alt="java"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.python.org/" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/piton.png" alt="python"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://dotnet.microsoft.com/en-us/download" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/net-icon.png" alt="net"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.djangoproject.com/" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/django-icon.png" alt="django"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/html-5.png" alt="html"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/js.png" alt="js"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/css.png" alt="css"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://www.android.com/intl/es_es/" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/androide.png" alt="android"></a>
        </div>

        <div class="relative inflatable ">
            <a href="https://www.microsoft.com/es-MX/sql-server/sql-server-downloads" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/servidor-sql.png" alt="sql"></a>
        </div>

        <div class="relative inflatable">
            <a href="https://es.wikipedia.org/wiki/SQL" target="_blank"><img class="w-10 h-10 rounded-full" src="~/Portafolio/img/skills/sql.png" alt="sql"></a>
        </div>
    </div>
</div>
