@{
    var skills = ViewBag.Skills as IEnumerable<ServidorASP.Models.PortafolioHabilidade>;
}
<h2 class="mb-2 text-base font-semibold text-gray-600 dark:text-gray-200">
    Además, poseo un amplio conjunto de conocimientos adicionales que pueden resultar útiles en diversas situaciones, tales como:
</h2>

<ul class="space-y-4 text-left text-gray-500 dark:text-gray-300">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2">

        @if (skills == null || !skills.Any())
        {
            <p>No hay registros.</p>
        }else{
            @foreach(var i in skills)
            {
         
            <li class="flex items-center space-x-3">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                </svg>
                <span>@i.DescHabilidad</span>
            </li>

            }       
         }
   
    </div>
</ul>